.b-logoAndSlogan {

  &_siteHeader {
    position: absolute;
    top: 20px;
    left: 29px;

    @include media-breakpoint-down(sm) {
      top: 60px;
      left: 0;
    }
  }

  &__logo {
    font-size: 46px;
    font-variant: small-caps;
  }

  &__slogan {
    color: $lightColor;
    font-size: 12px;
  }
}