.b-propertyUnit {
  text-align: center;

  &__icon {
    font-size: 6rem;

    &_topMargin {

      @include media-breakpoint-down(sm) {
        margin-top: 15px;
      }
    }

    &_users {
      color: #c45f4b;
    }

    &_globe {
      color: #cf9d41;
    }

    &_cogs {
      color: #3d5f12;
    }

    &_leaf {
      color: #7da3b7;
    }
  }

  &__head {
    padding: 20px ;
    color: $majorColor;
    font-size: 18px;
  }

  &__desc {
    font-size: 13px;
    color: $lightColor;
    padding: 0 5px;
  }
}