@font-face {
    font-family: "Georgia Regular";
    src: url(../fonts/Georgia_Regular.ttf);
}

$majorColor: #81b300;
$darkColor: #333;
$lightColor: #999;
$hoverColor: #00acee;
$lightestColor: #fff;

$mainFont: "Georgia Regular", sans-serif;
