@import "../packages/bootstrap-4.1.1/scss/bootstrap";
@import "variables";

@import "blocks/copyrights";
@import "blocks/footer";
@import "blocks/fullWidthDivider";
@import "blocks/header";
@import "blocks/loginNav";
@import "blocks/logoAndSlogan";
@import "blocks/mainNav";
@import "blocks/siteSearch";
@import "blocks/mainPageSliderWrap";
@import "blocks/projectsWrap";
@import "blocks/project";
@import "blocks/properties";
@import "blocks/propertyUnit";
@import "blocks/socials";

html, body {
  min-height: 100%;
}

body {
  font-family: $mainFont;
  color: $darkColor;
  background: #1f1f1f;
}

.topLine {
  height: 5px;
  background: $majorColor;
  margin: 0 -15px;
}

.container {
  background: #fff;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  @include media-breakpoint-down(xs) {
    margin-top: 0;
    margin-bottom: 0;
  }
}